.suggestions {
    width: 70%;
}
.suggestions .title {
    margin: 0;
    padding-left: 10px;
    font-weight: 800;
}
.suggestions ul {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.suggestions li {
    margin: 10px 10px;
}
.suggestions li img {
    width: 100%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
    .suggestions{
        width: 100%;
    }
    .suggestions .title {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 767px){
    .suggestions{
        width: 100%;
    }
    .suggestions .title {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}